.container {
    max-width: 1800px;
}

.newOrders {
    display: grid;
    grid: 25px / auto auto auto auto auto auto auto;
    margin-bottom: 75px;
}

.newOrders > div {
    border-bottom: 1px solid lightgray;
}

.header {
    border-bottom: 0px !important;
    font-weight: 900;
}