.container {
    display: flex;
    margin-left: 20px;
}

.left {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.leftRow, .leftRowHeader {
    display: flex;
    flex-direction: row;
}

.leftRowHeader {
    font-weight: bold;
}

.leftRow {
    border-bottom: 1px solid lightgray;
}

.leftRow:hover {
    color: red;
    background-color: lightyellow;
}

.leftCell:nth-child(1), .leftCellHeader:nth-child(1) { width: 150px; }
.leftCell:nth-child(2), .leftCellHeader:nth-child(2) { width: 200px; }
.leftCell:nth-child(3), .leftCellHeader:nth-child(3) { width: 100px; }