.container {
    display: grid;
    grid-template-columns: 135px auto;
    align-items: center;
}

.container > div {
    display: flex;
    height: 35px;
    align-items: center;
}

.buttonSave {
    display: block;
    width: 100%;
}