.orderValues {
    display: flex;
    margin-bottom: 20px;
}

.orderCol {
    margin-right: 12px;
}

.orderCol > *:nth-child(1) {
    font-weight: 900;
}

.headersRow, .productsRow {
    display: flex;
    flex-direction: row;
}

.headersRow {
    font-weight: bold;
}

.headersCol, .productsCol {
    width: 150px;
}

.productsRow {
    border-bottom: 1px solid lightgray;
}

.order, .products {
    display: flex;
    margin-bottom: 20px;
}

.orderHeader, .productsHeader {
    font-weight: 900;
}