.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    background-color:rgba(255, 255, 255, 0.843)
}

.box {
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-top: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.843);
    border-width: 3px;
    border-radius: 0.4rem;
    transition: all 0.5s linear 0s;
    text-decoration: none;
}

.box:hover {
    border-color: rgb(228, 0, 0);
}

.box div {
    text-decoration: none;
    color: black;
}

.title {
   font-weight: 700;
   font-size: 18px;
   margin-left: 20px;
   margin-bottom: 13px;
}

.restInfo {
    font-weight: 300;
    font-size: 15;
    margin-left: 20px;
}

.menuBox {
    display: flex;
    justify-content: center;
}

.buttonMenuContainer {
    background-color: aliceblue;
    width: 100%;
    margin-left: 8px;
    display: flex;
    justify-content: center;
}

.buttonMenu {
    width: 186px;
    position: absolute;
    top: 265px;
}

.buttonEdit {
    position: absolute;
    background-color: #db0000;
    color: white;
    font-weight: 900;
    border: solid 2px black;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    margin: 6px;
    right: 2px;
    top: 12px;
}

.marginDiv {
    background-color: white;
    display: inline-block;
    width: 20px;
}

.buttonAddRestaurant {
    width: 226px;
    height: 323px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}