
.container {
    width: 600px;
    display: flex;
    flex-direction: column;

}

.foodName {
    font-size: 33px;
}
.tag {
    margin-top: 3px;
    font-weight: bold;
    color: gray;
    border-bottom: 1px dotted gray;
}
input {
    margin-top: 3px;
}
.saveButtonBox {
    margin-top: 10px;
    padding: 3px;
    border-top: 1px solid black ;
    /* width: 100%; */

}