.container {
    max-width: 1800px;
}

.newOrders, .inProgressOrders {
    display: grid;
    margin-bottom: 75px;
}

.newOrders > .link, .inProgressOrders > .link {
    text-decoration: none !important;
    color: black;
}

.newOrders > * div, .inProgressOrders > * div {
    border-bottom: 1px solid lightgray;
}

.newOrders {
    grid: 25px / auto auto auto auto auto;
}

.inProgressOrders {
    grid: 25px / auto auto auto auto auto auto;
}

.header {
    border-bottom: 0px !important;
    font-weight: 900;
}