.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:blanchedalmond;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

.body {
text-decoration: dotted;
}