.wrapper {
    min-height: 800px;
    min-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    
}

.containerA {
    flex: 1;
    background-color: rgba(0, 42, 255, 0.864);
    color: white;
    padding: 5px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    border-right: 2px solid black;
    border-radius: 0 1rem 0 0;
}

.containerB {
    flex: 1;
    
    padding: 5px 0px 0px 5px;
    
}

.containerC {
    flex: 4;
    border-left: 1px solid black;
    padding: 5px 0px 0px 5px;
}