.buttonDiv, .greyButton {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.buttonDiv * button , .greyButton button  {
    background-color: rgb(36, 72, 235);
    color: white;
    width: 150px;
    height: 35px;
    border: 1px solid rgb(36, 72, 235);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 900;
    
}

.buttonDiv * button {
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.payments {
    margin-top: 100px;
    padding: 20px;
    border: 3px solid darkgray;
    border-radius: 15px;
    width: 800px;
    height: 150px;
}


.addText {
    width: 100%;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greenMarker {
    background-color: rgb(44, 255, 2);
    height: 5px;
    width: 5px;
    border-radius: 2rem;
}
.redMarker {
    background-color: rgb(241, 3, 3);
    height: 5px;
    width: 5px;
    border-radius: 2rem;
}

.greyButton button{
    background-color: rgb(79, 79, 79) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}